.fondo1{
	background-image: url(../img/dance_7.jpg);
	height: 400px;
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: 0 40%;
	border-top:1px lightgrey solid;

}


.rect
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
	background:rgba(0,0,0,0.4);
	width: 40%;
	height: 25%;

}

.rect>p{
	width: 90%;
	padding-left: 7%;
	margin-left: 5%;
}


